<section class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque quisquam similique velit odit aspernatur
            recusandae doloremque voluptatibus assumenda voluptates pariatur!</p>
    </div>
</section>